body {
  font-family: 'Montserrat', sans-serif;
  border-top: 5px solid #4c4066;
  margin: 0px auto;
  font-size: 14px;
  color: #666666;
  font-size: 16px;
}

header {
  text-align: center;
  background-color: #fdfdfd;
  border-bottom: 1px solid #e5e2e0;
}

h1 {
  font-size:2em;
  font-family: 'Lora', serif;
}

#logo {
  position: relative;
  top: -2px;
}

#container {
  width: 40%;
  margin: 0px auto;
}

input[type='text'] {
  height: 2.2em;
  font-size: 2em;
  width: 80px;
  text-align: center;
  padding: 5px;
}

button {
  padding: 10px;
  margin: 10px;
  border: 1px solid #bbb;
  font-size: 1.4em;
  border-radius:5px;
  
}


footer {
  padding-bottom: 10px;
  border-bottom: 5px solid #4c4066;
  position: absolute;
  width: 100%;
}

footer #content {
  width: 1040px;
  margin: 0px auto;
}

#more {
  font-size: 2em;
  padding: 10px;
  text-decoration:none;
}

.item {
  padding:10px;
}

#answer {

}
